h1.color-morado{
    color: rebeccapurple;
}

li.color-cafe{
    color: brown;
}

body.color-amarillo{
    color: yellow;
}

ul.color-negro{
    color: black;
}

body{
    background-image: url(\images\skyrim.png);
    background-size: auto;
}